<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Description="Create a list of properties from database table." Inherits="CodeSmith.BaseTemplates.OutputFileCodeTemplate" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Register Name="TablesBLL" Template="Tables.cst" MergeProperties="false" %>
<%@ Register Name="ViewsBLL" Template="Views.cst" MergeProperties="false" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" %>
<%	
	string testPathTables = "D:\\CodeSmishCreateFile\\Tables\\{0}BLL.cs";
	string testPathViews = "D:\\CodeSmishCreateFile\\Views\\{0}BLL.cs";
	string pathTables = "D:\\Project\\src\\Project.BLL\\Tables\\{0}BLL.cs";	
	string pathViews = "D:\\Project\\src\\Project.BLL\\Views\\{0}BLL.cs";	

	foreach (var item in SourceDatabase.Tables)
	{
		TablesBLL temp = this.Create<TablesBLL>();
		temp.SetProperty("tbName",item.Name);
		temp.RenderToFile(string.Format(pathTables,item.Name),true);
		//temp.RenderToFile(this.output);
	}
	
	foreach (var item in SourceDatabase.Views)
	{
		ViewsBLL temp = this.Create<ViewsBLL>();
		temp.SetProperty("tbName",item.Name);
		temp.RenderToFile(string.Format(pathViews,item.Name),true);
		//temp.RenderToFile(this.output);
	}
		
		
%>