<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" %>
<%@ Import Namespace="System.Text" %>
<%
StringBuilder strb=new StringBuilder();
 foreach (var item in SourceTable.Columns)
{
    strb.AppendFormat("[{0}],",item.Name);
}
string columns = strb.ToString();
columns = columns.Substring(0,columns.Length-1);
Response.Write(columns);
strb.Clear();
 foreach (var item in SourceTable.Columns)
{
    strb.AppendFormat("[{0}] {1},",item.Name,item.AllowDBNull);
}

Response.WriteLine();
Response.Write(strb.ToString());
 %>