<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" %>
<%
 foreach (var item in SourceTable.Columns)
 	{
		string co = item.ToString().Replace("dbo.TBL_AlipayBalance.","");
 		 %>
		 <f:BoundField DataField="<%=co%>" DataFormatString="{0}" HeaderText="<%=co%>" Width="80px"  />
		 <%
 	}
 %>

