<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" %>
public enum MenuLevel{
<%
	
 foreach (DataRow item in SourceTable.GetData().Rows)
 	{
		if(item["ParentID"].ToString()=="0"){
			Response.WriteLine(item[1]+",");
			foreach (DataRow item2 in SourceTable.GetData().Rows)
 	{
		if(item2["parentid"].ToString()==item["id"].ToString()){
			Response.WriteLine(item[1]+"__"+item2[1]+",");
			foreach (DataRow item3 in SourceTable.GetData().Rows)
 				{
				if(item3["parentid"].ToString()==item2["id"].ToString()){
					Response.WriteLine(item[1]+"__"+item2[1]+"__"+item3[1]+",");
				foreach (DataRow item4 in SourceTable.GetData().Rows)
 				{
				if(item4["parentid"].ToString()==item3["id"].ToString()){
					Response.WriteLine(item[1]+"__"+item2[1]+"__"+item3[1]+"__"+item4[1]+",");
				
				}
				
				}
				}
				
				}
		}
	}
		}
 	}
	//Response.WriteLine("	\"\"");
 %>
 
}
